*.sql
# macOS specific
.DS_Store
# IDE/Editor-specific
.vscode/
# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
# Php files
upload.php
upload_head.php
test.php
test2.php
#html files
test.html